<div class="footer-wrapper">
    <div class="left-footer">
        <ul>
            <h1>E-SHOP</h1>
            <li><a href="#">Products</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </div>
    <div class="right-footer">
        <ul>
            <li><a href="">telegram</a></li>
            <li><a href="">telegram</a></li>
            <li><a href="">telegram</a></li>
        </ul>
        <div>
            <h1>Our phone number</h1>
            <p>+998 (00) 000-00-00</p>
        </div>
    </div>
</div>